.clients{
  text-align: center;
  padding: 70px 0 130px;

  h1{
    color: black;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
  }
  p{
    color: gray;
    margin-bottom: 55px;
    font-size: 20px;
  }
  .quote{
    border: 1px solid lightgray;
    opacity: 0.4;
    display: inline-block;
    margin: 0 20px;
    text-align: left;
    padding: 20px;

    p{
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 20px;
    }
    h2{
      font-size: 16px;
      color: $green;
    }
    span{
      font-size: 12px;
    }
  }
  .slick-center {
    border-top: 4px solid $green;
    background-color: rgba(255, 255, 255, 0);
    opacity: 1;
  }
}